# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE settings
.vscode/

# Dependencies
node_modules/
.vite/

# Distribution and build files
dist/
build/
*.egg-info/